* {
    font-family: sans-serif
}

h1,
h2,
h3 {
    font-weight: 300;
}

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8)), url('https://cdn.mos.cms.futurecdn.net/C3agzMj7nhaK9zMJByibTT-1920-80.jpg.webp');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    display: flex;
}

.card {
    border: 1px solid #000;
    padding: 10px;
    border-radius: 6px;
    margin: 0 0 10px 0;
}

.card:hover {
    background-color: #E0E0E0;
    cursor: pointer;
}

.column {
    flex: 50%;
}

.card-name {
    font-size: 10px;
}

#column-right {
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 90px;
    height:20vw;
}

#additional-text a {
    color: #ccc; 
    text-decoration: underline; 
}

#additional-text a:hover {
    cursor: pointer; 
}